<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="WebService1Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://moewebservice.azurewebsites.net/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="WebService1Soap" name="WebService1Soap" />
            <endpoint address="https://moewebservice.azurewebsites.net/WebService1.asmx"
                binding="customBinding" bindingConfiguration="WebService1Soap12"
                contract="WebService1Soap" name="WebService1Soap12" />
        </client>
    </system.serviceModel>
</configuration>